aiogram
sqlalchemy
alembic
asyncpg
redis
dishka
pydantic
pydantic-settings
loguru
python-dotenv
aiohttp
qrcode
pillow
aiofiles
sqladmin[full]
uvicorn
fastapi
httpx
itsdangerous
passlib[bcrypt]